<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

			
            <h2 class="mt-5">Monocular Range Finder</h2>
			<form method="post" action="{{ url_for('tasks') }}">
			<input type="submit" value="Capture Calibration Image" name="click"/>
			<input type="submit" value="Stop/Start" name="stop" />

			<input type="submit" value="Estimate" name="estimate" />
			</form>
            <img src="{{ url_for('video_feed') }}" height="80%">
			<h3 style="font-family:courier;">Instructions:</h3>
			<ol style="font-family:courier;">
			<li>Step #1 - Take four images of the calibration target.</li>
			<li>Step #2 - Click "Estimate" to begin estimating distance to the camera.</li>
			<li></li>
			<li>Capture Calibration Image--Take still-shots of the calibration image</li>
			<li>Stop/Start--Toggle between stop or start live stream</li>
			<li>Estimate--Shows distance to camera(Toggle on/off)</li> 
			
        </div>
    </div>
</div>
</body>